<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="field">
    <%= f.label "Novo comentário" %><br>
    <%= f.text_area :text, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar', class: "save-comment-btn" %>
  </div>
<% end %>
