<h2>Estude praticando com avaliações reais</h2>
<h3>A maneira mais rápida, prática e eficiente para se preparar</h3>

<%= link_to 'Enviar nova prova', new_post_path %>
<%= link_to 'Visualizar provas', posts_path %>
