<h2>Estude praticando com avaliações reais</h2>
<h3>A maneira mais rápida, prática e eficiente para se preparar</h3>

<%= link_to 'Explorar provas', posts_path %>
<%= link_to 'Compartilhar prova', new_post_path %>
