<section class="container">
  <div class="card-big">
    <div class="row">
      <div class="col-xs-12">
        <div class="info">
          <h2>Compartilhar prova</h2>
        </div>
      </div>
    </div>
    <div class="description">
      <%= render 'form' %>
    </div>
  </div>
</div>
