<section class="container">
  <div class="card-big">
      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            <h2>Contato</h2>
          </div>
        </div>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod nunc turpis, at ultrices purus consequat sit amet. Donec ac aliquet nisl. Sed lacinia faucibus neque. Vestibulum semper diam quis ipsum finibus, nec posuere tellus sagittis. Etiam turpis tellus, hendrerit vitae tellus quis, imperdiet laoreet odio. Suspendisse eget bibendum dui. Mauris porttitor lorem vitae ullamcorper tempor. Integer mollis, nulla eget tempor ornare, libero est sagittis dui, sit amet convallis tortor ante non elit. Nulla pellentesque velit odio, ac euismod mi fermentum sed. Mauris tempor felis nibh, quis viverra libero blandit vitae. </p>
      </div>

      <form class="">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="inputNome" class="col-xs-3 col-sm-2 control-label text-right">Nome</label>
            <div class="col-xs-8 col-sm-9">
              <input type="text" id="inputNome" class="form-control" placeholder="Nome">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail" class="col-xs-3 col-sm-2 control-label text-right">Email</label>
            <div class="col-xs-8 col-sm-9">
              <input type="text" id="inputEmail" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMensagem" class="col-xs-3 col-sm-2 control-label text-right">Mensagem</label>
          <div class="col-xs-8 col-sm-9">
            <textarea id="inputMensagem" class="form-control" placeholder="Mensagem"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <button type="button" class="btn btn-green btn-lg margin-bottom-15">Enviar</button>
          </div>
        </div>
      </form>

  </div>
</section>
